<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="header">
        </div>
    <div id="login-container">
        <h2>تسجيل الدخول</h2>
        <form id="login-form" method="POST" action="/login">
            <label for="email">البريد الإلكتروني:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="password">كلمة المرور:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="تسجيل الدخول">
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
